@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
width: 90%;
max-width: 1100px;
margin: 40px auto;
background: white;
padding: 40px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.hero {
text-align: center;
padding: 40px 10px;
}


.hero img {
width: 150px;
height: 150px;
border-radius: 50%;
border: 4px solid #4c6ef5;
margin-bottom: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


h1 {
color: #4c6ef5;
font-size: 38px;
}


h2 {
color: #364fc7;
}


.project-card {
background: #f8f9ff;
border-left: 5px solid #4c6ef5;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0,0,0,0.08);
transition: 0.3s;
}


.project-card:hover {
transform: scale(1.02);
}


.article {
background: #eef3ff;
padding: 20px;
margin: 20px 0;
border-left: 4px solid #15aabf;
border-radius: 10px;
}


@media (max-width: 700px) {
nav li {
display: block;
margin: 10px 0;
}
}
